.conteiner{
    margin: auto auto;
    width: 1000px;
    background-color: #9b9b9b;
    border-radius: 40px;
}
.linha1{
    display: flex;
    height: 220px;
    padding: 50px;
}
.texto{
    width: 500px;
    padding: 50px;
}
.retrato{
    height: 256px;
    background-color: aqua;
    border-radius: 30px;
    padding: 40px;
    
}
.img01{
    width: 250px;

}
.frase1{
    margin: -28px 0px 0px -30px;
    font-weight: bold;

}
.frase2{
    font-weight: bold;
    font-size: 23px;
    
}
.frase3{
    text-align: justify;
}
.linha2{
    height: 270px;
    padding: 50px 97px 50px 97px;
}
.img02{
    width: 850px;
    height: 200px;
}
.frase4{
    font-weight: bold;
    font-size: 23px;
}