*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
     background: linear-gradient(279deg, #38648d, #1155a8, #ab320e, #d21818);
    background-size: 200%, 200%;
    text-transform: uppercase;
    animation: backgroud 15s ease infinite;
}

header{
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 15px 15px 15px rgb(0 0 0 / 20%);
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section{
    margin: 0.5rem 0;
    padding: 2rem;
}

.primeiro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.segundo{
    display: flex;
    justify-content:space-around;
    align-items:center;
}

p{
    width: 50%;
    margin: 0.8rem 0;
}
img{
    width: 220px;
    border-radius: 1rem;
}

@keyframes backgroud {
    0%{
        background-position: 70% 30%;
    }
    25%{
        background-position: 30% 70%;
    }
    50%{
        background-position: 70% 30%;
    }
    75%{
        background-position: 30% 70%;
    }
    100%{
        background-position: 70% 30%;
    }
}